<div class="breadcrumb-area" style="background-color: black; color: white;">
    <div class="container">
        <div class="breadcrumb-content text-center pt-1">
            <ul>
                <li>
                    <h3><a href="/">Home</a></h3>
                </li>
                <li>
                    <h3 style="color: white;">/</h3>
                </li>
                <li>
                    <h3 style="color: white;">Cart</h3>
                </li>
            </ul>
        </div>
    </div>
</div>
<!-- shopping-cart-area start -->
<div class="cart-main-area pt-40 pb-100">
    <div class="container ">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <h1 class="cart-heading">Cart</h1>
                <form action="#">
                    <div class="table-content">
                        <% if (cartItems && cartItems.length <=0) { %>
                            <div class="container text-center">
                                <a href="/shop" class="btn btn-success mt-3" style="border-radius: 10px;">
                                    <i class="ti-shopping-cart"></i> Start Shopping
                                </a>
                                <img src="/assets/gif/empty.gif" alt="Empty Cart" class="img-fluid mb-2"
                                    style="max-width: 300px ; max-height: 300px; overflow: hidden !important;">
                                <h3 class="text-muted">Your cart is empty.</h3>

                            </div>
                            <% } else { %>
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>Remove</th>
                                            <th>Images</th>
                                            <th>Product</th>
                                            <th>Price</th>
                                            <th>Quantity</th>
                                            <th>Total</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <% if (cartItems && cartItems.length> 0) { %>
                                            <% cartItems.forEach(element=> { %>
                                                <tr>
                                                    <td class="product-remove">
                                                        <a href="#"
                                                            onclick="showConfirmation('<%= element?.product?._id %>')">
                                                            <i class="pe-7s-close"></i>
                                                        </a>
                                                    </td>


                                                    <td class="product-thumbnail">
                                                        <a href="#">
                                                            <img style="max-width: 100px; max-height: 100px;"
                                                                src="/admin/uploads/<%= element.product.primaryImage[0].name %>"
                                                                alt="<%= element.product.title %>">
                                                        </a>
                                                    </td>
                                                    <td class="product-name">
                                                        <a href="">
                                                            <%= element.product.title %>
                                                        </a>
                                                    </td>
                                                    <td class="product-price-cart">
                                                        <span class="amount">
                                                            ₹<%=(element.product.salePrice).toLocaleString() %>
                                                        </span>
                                                    </td>
                                                    <td class="product-quantity">
                                                        <div class="input-group">
                                                            <span class="input-group-btn">
                                                                <button type="button"
                                                                    class="btn btn-danger quantity-button minus mx-2"
                                                                    onclick="decrementQuantity(this, '<%= element.product._id %>')">-</button>
                                                            </span>
                                                            <input id="quantity-<%= element.product._id %>"
                                                                value="<%= element.quantity %>" min="1"
                                                                class="form-control quantity-input"  style="max-width: 40px; max-height: 30px;">
                                                                <span class="input-group-btn">
                                                                    <button type="button"
                                                                    class="btn btn-success quantity-button plus mx-2"
                                                                    onclick="incrementQuantity(this, '<%= element.product._id %>')">+</button>
                                                                </span>
                                                                <span class="mt-1 mr-2 text-danger" id="out-of-stock-<%= element.product._id %>"></span>
                                                            </div>
                                                       
                                                    </td>

                                                    <td class="product-subtotal">
                                                        <%= (element.quantity *
                                                            element.product.salePrice).toLocaleString() %>
                                                    </td>
                                                </tr>
                                                <% }) %>
                                                    <% } %>
                                    </tbody>
                                </table>
                    </div>
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="coupon-all">
                                <div class="coupon">
                                    <input id="coupon_code" class="input-text" name="coupon_code" value=""
                                        placeholder="Coupon code" type="text">
                                    <input class="button" name="apply_coupon" value="Apply coupon" type="submit">
                                </div>
                                <div class="coupon2">
                                    <a href="/cart"><input class="button" name="update_cart" value="Update cart">
                                        <!-- add type=submit to button when , using coupon section  -->
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-5 ms-auto">
                            <div class="cart-page-total">
                                <h2>Cart totals</h2>
                                <ul>
                                    <li>Subtotal<span>
                                            <%=(subtotal).toLocaleString() %>
                                        </span></li>
                                    <li>ProcessingFee<span>
                                            <%=(processingFee).toLocaleString() %>
                                        </span></li>
                                    <li>Tax Amount<span>
                                            <% if (taxAmount) { %>
                                                <%= taxAmount %>
                                                    <% } else { %>
                                                        Nil
                                                        <% } %>
                                        </span></li>
                                    <li>Total<span>
                                            <%= (totalAmount).toLocaleString() %>
                                        </span></li>
                                </ul>
                                <a href="#">Proceed to checkout</a>
                            </div>
                        </div>
                    </div>
                    <% } %>
            </div>
            </form>
        </div>
    </div>
</div>
</div>

<script src="/assets/js/shop/cart.js"></script>