<div class="breadcrumb-area" style="background-color: black; color: white;">
    <div class="container">
        <div class="breadcrumb-content text-center pt-1">
            <ul>
                <li>
                    <h3><a href="/">Home</a></h3>
                </li>
                <li>
                    <h3 style="color: white;">/</h3>
                </li>
                <li>
                    <h3 style="color: white;">Cart</h3>
                </li>
            </ul>
        </div>
    </div>
</div>
<!-- shopping-cart-area start -->
<div class="cart-main-area pt-40 pb-100">
    <div class="container ">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <h1 class="cart-heading">Cart</h1>
                <form action="#">
                    <div class="table-content">
                        <% if (cartItems && cartItems.length <=0) { %>
                            <div class="container text-center">
                                <a href="/shop" class="btn btn-success mt-3" style="border-radius: 10px;">
                                    <i class="ti-shopping-cart"></i> Start Shopping
                                </a>
                                <img src="/assets/gif/empty.gif" alt="Empty Cart" class="img-fluid mb-2"
                                    style="max-width: 300px ; max-height: 300px; overflow: hidden !important;">
                                <h3 class="text-muted">Your cart is empty.</h3>

                            </div>
                            <% } else { %>
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>Remove</th>
                                            <th>Images</th>
                                            <th>Product</th>
                                            <th>Price</th>
                                            <th>Quantity</th>
                                            <th>Total</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <% if (cartItems && cartItems.length> 0) { %>
                                            <% cartItems.forEach(element=> { %>
                                                <tr>
                                                    <td class="product-remove">
                                                        <a href="#"
                                                            onclick="showConfirmation('<%= element?.product?._id %>')">
                                                            <i class="pe-7s-close"></i>
                                                        </a>
                                                    </td>


                                                    <td class="product-thumbnail">
                                                        <a href="#">
                                                            <img style="max-width: 100px; max-height: 100px;"
                                                                src="/admin/uploads/<%= element.product.primaryImage[0].name %>"
                                                                alt="<%= element.product.title %>">
                                                        </a>
                                                    </td>
                                                    <td class="product-name">
                                                        <a href="">
                                                            <%= element.product.title %>
                                                        </a>
                                                    </td>
                                                    <td class="product-price-cart">
                                                        <span class="amount">
                                                            ₹<%=(element.product.salePrice).toLocaleString() %>
                                                        </span>
                                                    </td>
                                                    <td class="product-quantity">
                                                        <div class="input-group">
                                                            <span class="input-group-btn">
                                                                <button type="button" class="quantity-button minus" onclick="decrementQuantity(this)">-</button>
                                                            </span>
                                                            <input value="<%= element.quantity %>" min="1"  class="quantity-input">
                                                            <span class="input-group-btn">
                                                                <button type="button" class="quantity-button plus" onclick="incrementQuantity(this)">+</button>
                                                            </span>
                                                        </div>
                                                    </td>
                                                    
                                                    <td class="product-subtotal">
                                                        <%= (element.quantity *
                                                            element.product.salePrice).toLocaleString() %>
                                                    </td>
                                                </tr>
                                                <% }) %>
                                                    <% } %>
                                    </tbody>
                                </table>
                    </div>
                    <% if (typeof message !=='undefined' ) { %>
                        <div class="alert alert-danger fade show mt-3" id="message" role="alert">
                            <%- message %>
                        </div>
                        <% } %>
                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <div class="coupon-all">
                                        <div class="coupon">
                                            <input id="coupon_code" class="input-text" name="coupon_code" value=""
                                                placeholder="Coupon code" type="text">
                                            <input class="button" name="apply_coupon" value="Apply coupon"
                                                type="submit">
                                        </div>
                                        <div class="coupon2">
                                            <a href="/updateCart"><input class="button" name="update_cart" value="Update cart"
                                                    type="submit">
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-5 ms-auto">
                                    <div class="cart-page-total">
                                        <h2>Cart totals</h2>
                                        <ul>
                                            <li>Subtotal<span>
                                                    <%=(subtotal).toLocaleString() %>
                                                </span></li>
                                            <li>ProcessingFee<span>
                                                    <%=(processingFee).toLocaleString() %>
                                                </span></li>
                                            <li>Tax Amount<span>
                                                    <% if (taxAmount) { %>
                                                        <%= taxAmount %>
                                                            <% } else { %>
                                                                Nil
                                                                <% } %>
                                                </span></li>
                                            <li>Total<span>
                                                    <%= (totalAmount).toLocaleString() %>
                                                </span></li>
                                        </ul>
                                        <a href="#">Proceed to checkout</a>
                                    </div>
                                </div>
                            </div>
                            <% } %>
            </div>
            </form>
        </div>
    </div>
</div>
</div>

<script>
// function decrementQuantity(button) {
//     const input = button.parentElement.parentElement.querySelector('.quantity-input');
//     if (parseInt(input.value) > 1) {
//         input.value = parseInt(input.value) - 1;
//     }
// }

// function incrementQuantity(button) {
//     const input = button.parentElement.parentElement.querySelector('.quantity-input');
//     input.value = parseInt(input.value) + 1;
// }
    function showConfirmation(productId) {
        Swal.fire({
            title: 'Are you sure?',
            text: 'You are about to remove this item from your cart.',
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Yes, remove it!'
        }).then((result) => {
            if (result.isConfirmed) {
                // If the user clicks "Yes," redirect to the removeProduct endpoint
                window.location.href = "/removeProduct/" + productId;
            }
        });
    }
    const alert = document.getElementById('message')
    const hide = () => {
        alert.style.display = 'none'
    }
    setTimeout(hide, 3000);
</script>