<div class="breadcrumb-area" style="background-color: black; color: white;">
    <div class="container">
        <div class="breadcrumb-content text-center pt-1">
            <ul>
                <li>
                    <h3><a href="/">Home</a></h3>
                </li>
                <li>
                    <h3 style="color: white;">/</h3>
                </li>
                <li>
                    <h3 style="color: white;">Checkout</h3>
                </li>
            </ul>
        </div>
    </div>
</div>
<!-- checkout-area start -->
<div class="checkout-area ptb-100">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="coupon-accordion">
                    <!-- ACCORDION START -->
                    <h3>Have a coupon? <span id="showcoupon">Click here to enter your code</span></h3>
                    <div id="checkout_coupon" class="coupon-checkout-content">
                        <div class="coupon-info">
                            <form action="#">
                                <p class="checkout-coupon">
                                    <input type="text" placeholder="Coupon code" />
                                    <input type="submit" value="Apply Coupon" />
                                </p>
                            </form>
                        </div>
                    </div>
                    <!-- ACCORDION END -->
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-md-12 col-12">
                <form action="#">
                    <div class="checkbox-form">
                        <h3>Billing Details</h3>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="checkout-form-list">
                                    <label>First Name <span class="required">*</span></label>
                                    <input type="text" placeholder="" />
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="checkout-form-list">
                                    <label>Last Name <span class="required">*</span></label>
                                    <input type="text" placeholder="" />
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="checkout-form-list">
                                    <label>Company Name</label>
                                    <input type="text" placeholder="" />
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="checkout-form-list">
                                    <label>Address <span class="required">*</span></label>
                                    <input type="text" placeholder="Street address" />
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="checkout-form-list">
                                    <input type="text" placeholder="Apartment, suite, unit etc. (optional)" />
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="checkout-form-list">
                                    <label>Town / City <span class="required">*</span></label>
                                    <input type="text" />
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="checkout-form-list">
                                    <label>State / County <span class="required">*</span></label>
                                    <input type="text" placeholder="" />
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="checkout-form-list">
                                    <label>Postcode / Zip <span class="required">*</span></label>
                                    <input type="text" />
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="checkout-form-list">
                                    <label>Email Address <span class="required">*</span></label>
                                    <input type="email" />
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="checkout-form-list">
                                    <label>Phone <span class="required">*</span></label>
                                    <input type="text" />
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-lg-6 col-md-12 col-12">
                <div class="your-order">
                    <h3>Your order</h3>
                    <div class="your-order-table table-responsive">
                        <table>
                            <thead>
                                <tr>
                                    <th class="product-name">Product</th>
                                    <th class="product-total">Total</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% cartItems.forEach(item=> { %>

                                    <tr class="cart_item">
                                        <td class="product-name">
                                            <%= item.product.title %> <strong class="product-quantity">
                                                    × <%= item.quantity%></strong>
                                        </td>
                                        <td class="product-total">
                                            <span class="amount">
                                                <%= (item.product.salePrice * item.quantity).toLocaleString()%>
                                            </span>
                                        </td>
                                    </tr>
                                    <% }); %>

                            </tbody>
                            <tfoot>
                                <tr class="cart-subtotal">
                                    <th>Cart Subtotal</th>
                                    <td><span class="amount">
                                            <%= (cartSubtotal).toLocaleString() %>
                                        </span></td>
                                </tr>
                                <tr class="cart-processingfee">
                                    <th>ProcessingFee</th>
                                    <td><span class="amount">
                                            <%= (processingFee).toLocaleString() %>
                                        </span></td>
                                </tr>
                                <tr class="tax-amount">
                                    <th>Tax Amount</th>
                                    <td><span class="amount">
                                            <%= (taxAmount).toLocaleString() %>
                                        </span></td>
                                </tr>
                                <tr class="order-total">
                                    <th>Order Total</th>
                                    <td><strong><span class="amount">
                                                <%= (orderTotal).toLocaleString() %>
                                            </span></strong>
                                    </td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                    <div class="payment-method">
                        <div class="payment-accordion">
                            <div class="panel-group" id="faq">
                                <div class="payment-method">
                                    <div class="payment-accordion">
                                        <div class="panel-group" id="paymentMethods">
                                            <div class="panel panel-default">
                                                <div class="panel-heading">
                                                    <h5 class="panel-title">Choose your Payment Method</h5>
                                                </div>
                                                <div id="paymentMethodsContent" class="panel-collapse collapse show"
                                                    data-bs-parent="#paymentMethods">
                                                    <div class="panel-body">
                                                        <div class="form-check">
                                                            <input class="form-check-input" type="radio"
                                                                name="paymentMethod" id="cashOnDelivery">
                                                            <label class="form-check-label" for="cashOnDelivery">Cash On
                                                                Delivery (COD)</label>
                                                        </div>
                                                        <div class="form-check">
                                                            <input class="form-check-input" type="radio"
                                                                name="paymentMethod" id="paypal">
                                                            <label class="form-check-label" for="paypal">PayPal</label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                                <div class="order-button-payment">
                                    <input type="submit" value="Place order" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>