<div class="add-address pb-10">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2 col-md-10 offset-md-1 col-12">
                <form action="" method="POST" class="address-form">
                    <h3>Edit Address</h3>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="first-name"> Name:<span class="required">*</span></label>
                                <input type="text" name="name" class="form-control" placeholder="Name"
                                    value="<%= addData.name %>" required />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group ">
                                <label for="addressType">Address Type:</label>
                                <div class="form-check">
                                    <input type="radio" class="form-check-input" id="home" name="addressType"
                                        value="Home" checked>
                                    <label class="form-check-label" for="home">Home</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input type="radio" class="form-check-input" id="work" name="addressType"
                                        value="Work">
                                    <label class="form-check-label" for="work">Work</label>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="address">Address <span class="required">*</span></label>
                                <input type="text" name="address" class="form-control" value="<%= addData.address %>"
                                    placeholder="Street Address" required />
                            </div>
                        </div>
                        <div class="col-md-6  ">
                            <div class="form-group mt-2">
                                <label for="city">Town / City <span class="required">*</span></label>
                                <input type="text" name="town" class="form-control" value="<%= addData.town %>"
                                    placeholder="Town / City" required />
                            </div>
                        </div>
                        <div class="col-md-6 ">
                            <div class="form-group mt-2">
                                <label for="state">State<span class="required">*</span></label>
                                <input type="text" name="state" class="form-control" value="<%= addData.state %>"
                                    placeholder="State" required />
                            </div>
                        </div>
                        <div class="col-md-6 ">
                            <div class="form-group mt-2">
                                <label for="postcode">Postcode / Zip <span class="required">*</span></label>
                                <input type="text" name="postCode" class="form-control" value="<%= addData.postCode %>"
                                    required />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group mt-2">
                                <label for="phone">Phone <span class="required">*</span></label>
                                <input type="text" name="phone" class="form-control" value="<%= addData.phone %>"
                                    placeholder="Phone" required />
                            </div>
                        </div>
                    </div>
                    <a href="/savedAddress"><button type="submit" class="btn btn-primary my-3">Update Address</button>
                    </a>
                </form>
            </div>
        </div>
    </div>
</div>