<div class="container mt-4 mb-4">
    <h2>My Orders</h2>
    <ul class="list-group mt-5">
        <% if (orders.length> 0) { %>

            <% orders.forEach(orders=> { %>
                <% orders.items.forEach(item=> { %>

                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-md-3 aspect-ratio aspect-ratio-1x1">
                                <a href="/viewProduct/<%= item.product._id %>"> <img class="img-fluid"
                                        src="/admin/uploads/<%= item.product.primaryImage[0].name %>"
                                        alt="Ordered Image" />
                                </a>
                            </div>
                            <div class="col-md-6">
                                <div class="card-body text-start mt-2">
                                    <h6 class="card-title mb-3">Order ID: <%= orders.orderId %>
                                            </h5>
                                            <p class="card-text mb-2">Order Date: <%=
                                                    orders.orderDate.toLocaleDateString('en-IN', { weekday: 'long' ,
                                                    year: 'numeric' , month: 'long' , day: 'numeric' }) + ' ' +
                                                    orders.orderDate.toLocaleTimeString('en-IN', { hour: 'numeric' ,
                                                    minute: 'numeric' }) %>
                                            </p>

                                            <p class="card-text">Ship To Name: <%= orders.billingAddress.name %> <strong
                                                        class="text-primary"></strong>
                                            </p>
                                            <p class="card-text">
                                                <span>Order Status:</span>
                                                <strong class="<%= item.status === 'Pending'
                                                            ? 'text-warning' : (item.status === 'Shipped' ? 'text-primary' :
                                                            (item.status === 'Cancelled' ? 'text-danger' :
                                                            (item.status === 'Delivered' ? 'text-success' : '' ))) %>">
                                                    <%= item.status %>
                                                </strong>
                                            </p>
                                            <p class="card-text">Product Name: <%= item.product.title %><strong
                                                        class="text-danger"></strong></p>

                                            <form action="/viewOrder/<%= orders._id %>" method="post">
                                                <input type="hidden" name="productId" value="<%= item.product._id  %>">
                                                <button type="submit" class="btn btn-dark h-auto">View Order</button>
                                            </form>
                                </div>
                            </div>
                        </div>
                    </li>
                    <% }) %>
                        <% }) %>
                            <% } else { %>
                                <div class="container text-center">
                                    <h3 class="text-muted"> No Orders Found</h3>
                                    <a href="/shop" class="btn btn-success mt-3" style="border-radius: 10px;">
                                        <i class="ti-shopping-cart"></i> Start Shopping
                                    </a>
                                </div>
                                <% } %>
    </ul>
</div>