<div class="breadcrumb-area" style="background-color: black; color: white;">
    <div class="container">
        <div class="breadcrumb-content text-center pt-1">
            <ul>
                <li>
                    <h3><a href="/">Home</a></h3>
                </li>
                <li>
                    <h3 style="color: white;">/</h3>
                </li>
                <li>
                    <h3 style="color: white;">Product</h3>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="product-details ptb-100 pb-90">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-lg-7 col-12">
                <!-- Inside the HTML template -->
                <div class="product-details-img-content">
                    <div class="product-details-tab mr-35 product-details-tab2">
                        <div class="product-details-small nav mr-10 product-details-2" role="tablist">

                            <!-- side images -->
                            <% if (Array.isArray(product.images) && product.images.length> 0) { %>
                                <% product.images.forEach((image, index)=> { %>
                                    <a class="<%= index === 0 ? 'active' : '' %> mb-10"
                                        href="#pro-details<%= index + 1 %>" data-bs-toggle="tab" role="tab"
                                        aria-selected="<%= index === 0 %>">
                                        <img src="<%= image.thumbnailUrl %>" alt="">
                                    </a>
                                    <% }); %>
                                        <% } %>
                        </div>

                        <!-- Large image Tab content-->
                        <div class="product-details-large tab-content">
                            <% if (Array.isArray(product.images) && product.images.length> 0) { %>
                                <% product.images.forEach((image, index)=> { %>
                                    <div class="tab-pane <%= index === 0 ? 'active show' : '' %> fade"
                                        id="pro-details<%= index + 1 %>" role="tabpanel">
                                        <div class="easyzoom easyzoom--overlay is-ready">
                                            <a href="<%= image.imageUrl %>">
                                                <img src="<%= image.imageUrl %>" alt="">
                                            </a>
                                        </div>
                                    </div>
                                    <% }); %>
                                        <% } %>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12 col-lg-5 col-12">
                <div class="product-details-content">
                    <h3>
                        <%= product.title %>
                    </h3>
                    <div class="rating-number">
                        <div class="quick-view-rating">
                            <i class="pe-7s-star p-star"></i>
                            <i class="pe-7s-star red-star"></i>
                            <i class="pe-7s-star"></i>
                            <i class="pe-7s-star"></i>
                            <i class="pe-7s-star"></i>
                        </div>
                        <div class="quick-view-number">
                            <span>2 Rating's</span>
                        </div>
                    </div>
                    <span class="text-decoration-line-through">
                        ₹<%= (product.productPrice).toLocaleString() %></span>
                    <div class="details-price">
                        <span>₹<%= (product.salePrice).toLocaleString() %></span>
                    </div>
                    <div class="stock mb-3 text-warning">
                        <% if (product.quantity>1 && product.quantity < 5 ) { %>
                                <span>
                                    Hurry Only <%= product.quantity%> left!
                                </span>
                                <% }%>
                    </div>

                    <div class="quick-view-select">
                        <div class="select-option-part">
                            <ul class="row">
                                <li class="col-auto"><label>Color*</label></li>
                                <li class="col-auto">
                                    <%= product.color %>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="quickview-plus-minus">
                        <div class="product-list-cart">
                            <% if (!user) { %>
                                <a class="btn-hover list-btn-style" href="/login">Add to
                                    Cart</a>
                                <% }else { %>
                                    <% if (cartProductIds.includes(product._id.toString())) { %>
                                        <a class="btn-hover list-btn-style" href="/cart">Go Cart
                                        </a>
                                        <% } else if (product.quantity> 0) { %>
                                            <a class="btn-hover list-btn-style" href="/addtoCart/<%= product._id %>">Add
                                                to
                                                Cart</a>
                                            <% } else { %>
                                                <h3>Out of Stock</h3>
                                                <% } %>
                                                    <% } %>
                        </div>
                        <div class="quickview-btn-wishlist">
                            <a class="btn-hover" href="" onclick="addTowishlist(`<%= product._id %>`)">
                                <% if (wishlist.includes(product._id)) { %>
                                    <i class="pe-7s-like" style="color: red;"></i>
                                    <% } else { %>
                                        <i class="pe-7s-like"></i>
                                        <% } %>
                        </div>
                        <div id="fixed-div" class="mt-2 fixed-div border rounded-pill p-2" style="display: none;">
                            <p id="wishlist-message" class=" mb-0 text-light text-center"></p>
                        </div>
                    </div>
                    <div class="product-details-cati-tag mt-35">
                        <ul>
                            <li class="categories-title">Category :</li>
                            <li><a href="#">
                                    <%= product.categoryName.categoryName %>
                                </a></li>
                        </ul>
                    </div>
                    <br>
                    <div class="product-share">
                        <ul>
                            <li class="categories-title">Share :</li>
                            <li>
                                <a href="#">
                                    <i class="icofont icofont-social-facebook"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="icofont icofont-social-twitter"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="icofont icofont-social-pinterest"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="icofont icofont-social-flikr"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="accordion" id="accordionPanelsStayOpenExample pb-50">
    <div class="accordion-item">
        <h2 class="accordion-header" id="panelsStayOpen-headingOne">
            <strong><button class="accordion-button" type="button" data-bs-toggle="collapse"
                    data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true"
                    aria-controls="panelsStayOpen-collapseOne">
                    Description
                </button></strong>
        </h2>
        <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse "
            aria-labelledby="panelsStayOpen-headingOne">
            <div class="accordion-body">
                <div class="description-review-text">
                    <% const sections=product.description.split('\n\n'); sections.forEach(section=> {
                        const lines = section.split('\n');
                        const title = lines[0];
                        const details = lines.slice(1);
                        %>
                        <div class="structured-section">
                            <h4>
                                <%= title %>
                            </h4>
                            <ul>
                                <% details.forEach(detail=> { %>
                                    <li>
                                        <%= detail %>
                                    </li>
                                    <% }); %>
                            </ul>
                        </div>
                        <% }); %>


                </div>
            </div>
        </div>
    </div>
</div>


<div class="product-area mt-20 pb-95">
    <div class="container">
        <div class="section-title-3 text-center mb-50">
            <h2>Related products</h2>
        </div>
        <div class="row">
            <% if (products.length> 0) { %>
                <% products.forEach(element=> { %>
                    <div class="col-md-4">
                        <div class="card">
                            <% if (Array.isArray(element.images) && element.images.length> 0) { %>
                                <a href="/viewProduct/<%= element._id%>">
                                    <img class="card-img-top img-size mt-2 mx-4" src="<%= element.images[0].imageUrl %>"
                                        alt="<%= element?.title %>">
                                </a>
                                <% }%>
                                    <div class="card-body">
                                        <h5 class="card-title">
                                            <a href="/viewProduct/<%= element._id%>" class="truncate-text">
                                                <%= element?.title %>
                                            </a>
                                        </h5>
                                        <p class="card-text">₹<%= element?.salePrice %>
                                        </p>
                                        <div class="product-action">
                                            <a class="animate-left" title="Wishlist" href="/wishlist">
                                                <i class="pe-7s-like"></i>
                                            </a>
                                            <a class="animate-top" title="Add To Cart" href="#">
                                                <i class="pe-7s-cart"></i>
                                            </a>
                                        </div>

                                    </div>
                        </div>
                    </div>
                    <% }) %>
                        <% } %>
        </div>
    </div>
</div>

<style>
    .accordion-button {
        max-width: 500px;
    }

    .accordion-body {
        max-width: 200px;
        width: 100%;
        padding: 0;
        border: none;

    }

    .accordion {
        max-width: 400px;
        margin: 0 auto;
    }

    .accordion-button {
        width: 100%;
        text-align: center;
        border: none;
    }



    .truncate-text {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 5em;
        /* Adjust the width as needed */
    }

    .card-title a {
        display: block;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 100%;
        /* Adjust the width as needed */
    }

    .img-size {
        max-width: 300px;
        max-height: 300px;
    }

    /* CSS Styles */
    .structured-text {
        width: 100%;
        /* Set an appropriate width */
        white-space: pre-line;
        /* Preserve line breaks */
        line-height: 1.5;
        /* Adjust line spacing as needed */
        font-family: Arial, sans-serif;
        /* Choose a font */
        font-size: 14px;
        /* Adjust font size as needed */
        /* Add more styles as desired */
    }

    .fixed-div {
        position: fixed;
        bottom: 10px;
        right: 40px;
    }
</style>
<script src="/assets/js/shop/wishlist.js"></script>