<main class="col-md-9 mx-auto col-lg-10 px-md-4">
  <div class="container ">
    <div class="text-center mb-4">
      <h3 class="display-5 fw-bold">Account Details</h3>
    </div>
    <div class="card shadow-lg p-4">
      <div class="row">
        <div class="col-md-6">
          <div class="mb-4">
            <h2 class="h4 fw-bold">Name:</h2>
            <p class="lead">
              <%= user.userName %>
                <!-- <button class="btn btn btn-sm ml-2" onclick="editUserName(`<%= user._id %>`)"><i
                    class="fas fa-edit"></i></i></button> -->
            </p>

          </div>
          <div class="mb-4">
            <h2 class="h4 fw-bold">Email:</h2>
            <p class="lead">
              <%= user.email %>
            </p>
          </div>
          <div class="mb-4">
            <h2 class="h6 fw-bold">Refer a friend and earn upto 30 cashback</h2>
            <p class="lead">
              <span id="referral-code">
                <%= user.referralCode %>
              </span>
              <button class="btn btn-sm ml-2" id="copy-button">
                <i class="fas fa-copy text-dark fa-sm mb-3" data-toggle="tooltip" data-placement="top"></i>
              </button>
            </p>
          </div>
        </div>
        <div class=" col-md-6">
          <div class="userWallet card add-btn text-center p-4">
            <p class="h4 fw-bold  mb-2">My Wallet</p>
            <a href="/wallet-history"><i class="fas fa-wallet text-warning fa-3x mb-3"></i></a>
            <h3 class="h2 fw-bold ">₹<%= (walletBalance).toLocaleString() %>
            </h3>
          </div>
        </div>
      </div>
    </div>
    <div class="row mt-5 mb-3">
      <div class="col-md-3">
        <div class="card shadow">
          <a href="/orders" class="text-decoration-none text-center p-4 d-block">
            <i class="fas fa-shopping-bag fa-3x text-primary mb-3"></i>
            <h3 class="h4 fw-bold">Orders</h3>
            <p class="text-muted">Check your orders</p>
          </a>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card shadow">
          <a href="/wishlist" class="text-decoration-none text-center p-4 d-block">
            <i class="far fa-heart fa-3x text-danger mb-3"></i>
            <h3 class="h4 fw-bold">Wishlist</h3>
            <p class="text-muted">Check your Wishlist</p>
          </a>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card shadow">
          <a href="/cart" class="text-decoration-none text-center p-4 d-block">
            <i class="fas fa-shopping-cart fa-3x text-success mb-3"></i>
            <h3 class="h4 fw-bold">Cart</h3>
            <p class="text-muted">Check your Cart</p>
          </a>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card shadow">
          <a href="/savedAddress" class="text-decoration-none text-center p-4 d-block">
            <i class="fas fa-map-marker-alt fa-3x text-info mb-3"></i>
            <h3 class="h4 fw-bold">Address</h3>
            <p class="text-muted">Saved Addresses & Edit</p>
          </a>
        </div>
      </div>
    </div>
  </div>
</main>
<style>
  .fa-copy {
    font-size: 22px;
  }
</style>

<script>
  // Initialize Bootstrap tooltips
  $(function () {
    $('[data-toggle="tooltip"]').tooltip();
  });

  document.getElementById("copy-button").addEventListener("click", function () {
    const referralCodeElement = document.getElementById("referral-code");
    const referralCode = referralCodeElement.textContent;
    const tempInput = document.createElement("input");
    tempInput.value = referralCode;
    document.body.appendChild(tempInput);
    tempInput.select();
    document.execCommand("copy");
    document.body.removeChild(tempInput);

    // Show the "Copied" tooltip
    $('#copy-button').attr('title', 'Copied').tooltip('show');

    // Hide the tooltip after a short delay
    setTimeout(function () {
      $('#copy-button').tooltip('hide');
    }, 2000); // Adjust the duration (in milliseconds) as needed
  });

  // editUserName
  function editUserName(userId) {
    $.ajax({
      type: "GET",
      url: `/profile/editUser/${userId}`,
      success: function (response) {
      console.log('res',response);
      },
      error: function (jqXHR, textStatus, errorThrown) {
        if (jqXHR.status === 400) {
          // Handle out of stock or other errors
          console.error("Request rejected:", jqXHR.responseJSON.message);
        } else {
          // Handle other error cases
          console.error("Error:", textStatus, errorThrown);
        }
      }
    });
  }

</script>