<div class="breadcrumb-area" style="background-color: black; color: white;">
    <div class="container">
        <div class="breadcrumb-content text-center pt-1">
            <ul>
                <li>
                    <h3><a href="/">Home</a></h3>
                </li>
                <li>
                    <h3 style="color: white;">/</h3>
                </li>
                <li>
                    <h3 style="color: white;">Shop</h3>
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="shop-page-wrapper ptb-100">

    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="shop-sidebar">
                    <div class="sidebar-widget mb-50">
                        <h3 class="sidebar-title">Search Products</h3>
                        <div class="sidebar-search">
                            <form action="/shop" method="GET">
                                <input placeholder="Search Products..." type="text" name="search">
                                <button><i class="ti-search"></i></button>
                            </form>
                        </div>
                    </div>
                    <div class="sidebar-widget mb-20">
                        <h3 class="sidebar-title">Filter by Price</h3>
                        <div class="sidebar-categories">
                            <ul>
                                <li><a href="/shop">
                                        Default
                                    </a></li>
                                <li><a href="/shop?sort=lowToHigh" id="lowToHigh">
                                        Low to High
                                    </a></li>
                                <li><a href="/shop?sort=highToLow" id="highToLow">
                                        High to low
                                    </a></li>
                            </ul>
                        </div>
                    </div>
                    <% if (products.length> 0) { %>

                        <div class="sidebar-widget mb-45">
                            <h3 class="sidebar-title">Categories</h3>
                            <div class="sidebar-categories">
                                <ul>
                                    <% if (category.length>0) { %>


                                        <% category.forEach(element=> { %>

                                            <li><a href="/shop?p=<%= currentPage %>&category=<%= element._id %>">
                                                    <%= element.categoryName %>
                                                </a></li>
                                            <% }); %>

                                                <% } else { %>
                                                    <h3>NO CATEGORIES</h3>
                                                    <% } %>

                                </ul>
                            </div>
                        </div>
                        <% } %>

                </div>
            </div>
            <div class="col-lg-9 order-1 order-lg-2">
                <div class="shop-product-wrapper">
                    <div class="shop-bar-area">
                        <div class="shop-bar pb-60">
                            <div class="shop-found-selector">
                                <div class="shop-found">
                                    <p><span>23</span> Product Found of <span>50</span></p>
                                </div>
                                <div class="shop-selector">
                                    <label>Sort By : </label>
                                    <select name="select">
                                        <option value="">Default</option>
                                        <option value="">A to Z</option>
                                        <option value=""> Z to A</option>
                                        <option value="">In stock</option>
                                    </select>
                                </div>
                            </div>

                        </div>

                        <div class="shop-product-content tab-content">
                            <div id="grid-sidebar" class="tab-pane fade active show">
                                <div class="row">
                                    <div class="col-lg-4 col-md-6">
                                        <div class="product-wrapper product-box-style mb-30">
                                            <div class="product-img">

                                                <span>No image available</span>

                                                <span>hot</span>
                                                <div class="product-action">
                                                    <a class="animate-left" title="Wishlist" href="#">
                                                        <i class="pe-7s-like"></i>
                                                    </a>
                                                    <a class="animate-top" title="Add To Cart" href="#">
                                                        <i class="pe-7s-cart"></i>
                                                    </a>
                                                    <a class="animate-right" title="Quick View" data-bs-toggle="modal"
                                                        data-bs-target="#exampleModal" href="#">
                                                        <i class="pe-7s-look"></i>
                                                    </a>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div id="grid-sidebar8" class="tab-pane fade active show">
                                <div class="row">
                                    <% if (products.length>0) { %>

                                        <% products.forEach(element=> { %>

                                            <div class="col-lg-12">
                                                <div
                                                    class="product-wrapper mb-30 single-product-list product-list-right-pr mb-60">
                                                    <div class="product-img list-img-width">
                                                        <% if (Array.isArray(element.images) && element.images.length>
                                                            0) { %>
                                                            <a href="/viewProduct/<%= element?._id %>">
                                                                <img src="<%= element.images[0].imageUrl %>"
                                                                    alt="ProductImage">
                                                            </a>
                                                            <% } else { %>
                                                                <span>No image available</span>
                                                                <% } %>
                                                    </div>
                                                    <div class="product-content-list">
                                                        <div class="product-list-info">
                                                            <h4><a href="/viewProduct/<%= element?._id %>">
                                                                    <%= element.title %>
                                                                </a></h4>
                                                            <span class="text-decoration-line-through">
                                                                ₹<%= (element.productPrice).toLocaleString() %></span>
                                                            <span>₹<%= (element.salePrice).toLocaleString() %></span>
                                                            <p>
                                                            <ul class="row">
                                                                <li class="col-auto "><label>Color:</label></li>
                                                                <li class="col-auto">
                                                                    <%= element.color %>
                                                                </li>
                                                            </ul>
                                                            </p>
                                                        </div>
                                                        <div class="product-list-cart-wishlist">
                                                            <div class="product-list-cart">

                                                                <% if (!user) { %>
                                                                    <a class="btn-hover list-btn-style"
                                                                        href="/login">Add to
                                                                        Cart</a>
                                                                    <% }else { %>
                                                                        <% if(cartProductIds.includes(element._id.toString())){
                                                                            %>
                                                                            <a class="btn-hover list-btn-style"
                                                                                href="/cart">Go to Cart
                                                                            </a>
                                                                            <% } else if (element.quantity> 0) { %>
                                                                                <a class="btn-hover list-btn-style"
                                                                                    href="/addtoCart/<%= element._id %>">Add
                                                                                    to
                                                                                    Cart</a>
                                                                                <% } else { %>
                                                                                    <h3>Out of Stock</h3>
                                                                                    <% } %>
                                                                                        <% } %>
                                                            </div>
                                                            <div class="product-list-wishlist">
                                                                <a class="btn-hover list-btn-wishlist" href="#">
                                                                    <i class="pe-7s-like"></i>
                                                                </a>
                                                            </div>

                                                        </div>

                                                    </div>
                                                </div>
                                                <hr>
                                            </div>
                                            <% }) %>

                                                <% } else { %>
                                                    <h2>No Products found</h2>
                                                    <% } %>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="pagination-style mt-10 text-center">
                    <ul>
                        <% if (currentPage> 1) { %>
                            <li><a href="#" onclick="navigatePage(`<%= parseInt(currentPage) - 1 %>`)"><i
                                        class="ti-angle-left"></i></a></li>
                            <% } else { %>
                                <li class="disabled"><span><i class="ti-angle-left"></i></span></li>
                                <% } %>

                                    <% for (let i=1; i <=totalPages; i++) { %>
                                        <li class="<%= i === currentPage ? 'active' : '' %>">
                                            <a href="#" onclick="navigatePage(`<%= i %>`)">
                                                <%= i %>

                                            </a>
                                        </li>
                                        <% } %>

                                            <% if (currentPage < totalPages) { %>
                                                <li><a href=""
                                                        onclick="navigatePage(`<%= parseInt(currentPage) + 1 %>`)">
                                                        <i class="ti-angle-right"></i>
                                                    </a></li>
                                                <% } else { %>
                                                    <li class="disabled"><span><i class="ti-angle-right"></i></span>
                                                    </li>
                                                    <% } %>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    hr {
        margin-bottom: 20px !important;
        color: grey;
        border: 0;
        height: 1px;
        background-color: grey;
        margin: 10px 0;
    }
</style>

// Script for filtering product
<script>
    const query = window.location.search;
    const queryParams = new URLSearchParams(query);
    const lowtoHigh = document.getElementById('lowToHigh')
    const highToLow = document.getElementById('highToLow')
    const pages = queryParams.get('p')
    const selectedCategory = queryParams.get('category')
    const baseURL = 'http://localhost:3000/shop';

    const queryParameters = [];

    if (selectedCategory) {
        queryParameters.push(`category=${selectedCategory}`);
    }

    // Use the finalURL for your API request or redirection
    lowtoHigh.addEventListener('click', (e) => {
        e.preventDefault()
        queryParameters.push(`sort=lowtoHigh`);

        const finalURL = baseURL + (queryParameters.length > 0 ? `?${queryParameters.join('&')}` : '');
        console.log(finalURL);
        window.location.href = finalURL
    })

    highToLow.addEventListener('click', (e) => {
        e.preventDefault()
        console.log('butt clicked');
        queryParameters.push(`sort=highToLow`);
        const finalURL = baseURL + (queryParameters.length > 0 ? `?${queryParameters.join('&')}` : '');
        console.log(finalURL);
        window.location.href = finalURL

    })

    function navigatePage(page) {
        const queryParams = new URLSearchParams(window.location.search);
        queryParams.set('p', page); // Update the 'p' query parameter with the new page value
        const newURL = `${window.location.pathname}?${queryParams.toString()}`;
        window.location.href = newURL; // Navigate to the new URL
    }

</script>