<div class="breadcrumb-area" style="background-color: black; color: white;">
    <div class="container">
        <div class="breadcrumb-content text-center pt-1">
            <ul>
                <li>
                    <h3><a href="/">Home</a></h3>
                </li>
                <li>
                    <h3 style="color: white;">/</h3>
                </li>
                <li>
                    <h3 style="color: white;">Shop</h3>
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="shop-page-wrapper ptb-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="shop-sidebar">
                    <div class="sidebar-widget mb-50">
                        <h3 class="sidebar-title">Search Products</h3>
                        <div class="sidebar-search">
                            <form>
                                <input id="searchInput" placeholder="Search Products..." type="text" name="search">
                                <button id="searchButton"><i class="ti-search"></i></button>
                            </form>
                        </div>
                    </div>
                    <div class="sidebar-widget mb-20">
                        <h3 class="sidebar-title">Filter by Price</h3>
                        <div class="sidebar-categories">
                            <ul>
                                <li><a href="/shop">
                                        Default
                                    </a></li>
                                <li><a href="" id="lowToHigh">
                                        Low to High
                                    </a></li>
                                <li><a href="" id="highToLow">
                                        High to low
                                    </a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="sidebar-widget mb-45">
                        <h3 class="sidebar-title">Categories</h3>
                        <div class="sidebar-categories">
                            <ul>
                                <% if (category.length>0) { %>  
                                    <% category.forEach(element=> { %>
                                        <li><a href="/shop?p=<%= currentPage %>&category=<%= element.categoryName %>"
                                                <% if (selectedCategory && selectedCategory.length>0) { %>
                                                    class="<%= selectedCategory.includes(element._id) ? 'text-dark' : '' %>"
                                             <% } %>>
                                                <%= element.categoryName %>
                                            </a></li>
                                        <% }); %>

                                            <% } else { %>
                                                <h3>NO CATEGORIES</h3>
                                                <% } %>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-9 order-1 order-lg-2">
                <div class="shop-product-wrapper">
                    <div class="shop-bar-area">

                        <div class="shop-product-content tab-content">
                            <div id="grid-sidebar" class="tab-pane fade active show">
                                <div class="row">
                                    <div class="col-lg-4 col-md-6">
                                        <div class="product-wrapper product-box-style mb-30">
                                            <div class="product-img">

                                                <span>No image available</span>

                                                <span>hot</span>
                                                <div class="product-action">
                                                    <a class="animate-left" title="Wishlist" href="#">
                                                        <i class="pe-7s-like"></i>
                                                    </a>
                                                    <a class="animate-top" title="Add To Cart" href="#">
                                                        <i class="pe-7s-cart"></i>
                                                    </a>
                                                    <a class="animate-right" title="Quick View" data-bs-toggle="modal"
                                                        data-bs-target="#exampleModal" href="#">
                                                        <i class="pe-7s-look"></i>
                                                    </a>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div id="grid-sidebar8" class="tab-pane fade active show">
                                <div class="row">
                                    <% if (products.length>0) { %>

                                        <% products.forEach(element=> { %>

                                            <div class="col-lg-12">
                                                <div
                                                    class="product-wrapper mb-30 single-product-list product-list-right-pr mb-60">
                                                    <div class="product-img list-img-width">
                                                        <% if (Array.isArray(element.images) && element.images.length>
                                                            0) { %>
                                                            <a href="/viewProduct/<%= element?._id %>">
                                                                <img src="<%= element.images[0].imageUrl %>"
                                                                    alt="ProductImage">
                                                            </a>
                                                            <% } else { %>
                                                                <span>No image available</span>
                                                                <% } %>
                                                    </div>
                                                    <div class="product-content-list">
                                                        <div class="product-list-info">
                                                            <h4><a href="/viewProduct/<%= element?._id %>">
                                                                    <%= element.title %>
                                                                </a></h4>
                                                            <span class="text-decoration-line-through">
                                                                <% if (element.productPrice !==element.salePrice) { %>
                                                                    ₹<%= element.productPrice %>
                                                                        <% } %>
                                                            </span>
                                                            <span>₹<%= (element.salePrice).toLocaleString() %></span>
                                                            <p>
                                                            <ul class="list-unstyled">
                                                                <li class="d-inline-block"><label>Color:</label></li>
                                                                <li class="d-inline-block">
                                                                    <%= element.color %>
                                                            </ul>
                                                            <ul class="list-unstyled">
                                                                <li class="d-inline-block"><label>Category:</label></li>
                                                                <li class="d-inline-block">
                                                                    <%= element.categoryName.categoryName %>
                                                                </li>
                                                                <% if (element.productPrice !==element.salePrice) { %>
                                                                    <li class="d-inline-block text-success ">
                                                                        <strong>
                                                                            <%= element.categoryName.description %>
                                                                        </strong>
                                                                    </li>
                                                                    <% } %>
                                                            </ul>
                                                            </p>
                                                        </div>
                                                        <div class="product-list-cart-wishlist">
                                                            <div class="product-list-cart">

                                                                <% if (!user) { %>
                                                                    <a class="btn-hover list-btn-style"
                                                                        href="/login">Add to
                                                                        Cart</a>
                                                                    <% }else { %>
                                                                        <% if(cartProductIds.includes(element._id.toString())){
                                                                            %>
                                                                            <a class="btn-hover list-btn-style"
                                                                                href="/cart">Go to Cart
                                                                            </a>
                                                                            <% } else if (element.quantity> 0) { %>
                                                                                <a class="btn-hover list-btn-style"
                                                                                    href="/addtoCart/<%= element._id %>">Add
                                                                                    to
                                                                                    Cart</a>
                                                                                <% } else { %>
                                                                                    <h3>Out of Stock</h3>
                                                                                    <% } %>
                                                                                        <% } %>
                                                            </div>
                                                            <div class="product-list-wishlist">
                                                                <% if (userWishlist) { %>
                                                                    <label class="wishlist-checkbox">
                                                                        <input type="checkbox"
                                                                            id="wishlist-<%= element._id %>"
                                                                             <% if(userWishlist.includes(element._id)) {
                                                                            %>checked<% } %>
                                                                            onchange="toggleWishlist('<%= element._id %>')">
                                                                                <i class="pe-7s-like"
                                                                                    style="font-size: 40px; cursor: pointer; color: <% if (userWishlist.includes(element._id)) { %>red<% } else { %>black<% } %>;"></i>
                                                                    </label>
                                                                    <% } else { %>
                                                                        <a class="btn-hover list-btn-wishlist"
                                                                            href="/login"> <i class="pe-7s-like"></i>
                                                                        </a>
                                                                        <% } %>
                                                            </div>
                                                        </div>
                                                        <div id="fixed-div"
                                                            class="mt-2 fixed-div border rounded-pill p-2"
                                                            style="display: none;">
                                                            <p id="wishlist-message"
                                                                class=" mb-0 text-light text-center"></p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <hr>
                                            </div>
                                            <% }) %>

                                                <% } else { %>
                                                    <div
                                                        class="d-flex flex-column justify-content-center align-items-center mt-5">
                                                        <img src="/assets/img/noProductsFound.png"
                                                            alt="No products found">
                                                        <h3>No Products found</h3>
                                                    </div>
                                </div>
                                <% } %>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <% if (totalPages> 1) { %>

                <div class="pagination-style mt-10 text-center">
                    <ul>
                        <% if (currentPage> 1) { %>
                            <li><a href="#" onclick="navigatePage(`<%= parseInt(currentPage) - 1 %>`)"><i
                                        class="ti-angle-left"></i></a></li>
                            <% } else { %>
                                <li class="disabled"><span><i class="ti-angle-left"></i></span></li>
                                <% } %>

                                    <% for (let i=1; i <=totalPages; i++) { %>
                                        <li class="<%= i === currentPage ? 'active' : '' %>">
                                            <a href="#" onclick="navigatePage(`<%= i %>`)">
                                                <%= i %>
                                            </a>
                                        </li>
                                        <% } %>

                                            <% if (currentPage < totalPages) { %>
                                                <li><a href=""
                                                        onclick="navigatePage(`<%= parseInt(currentPage) + 1 %>`)">
                                                        <i class="ti-angle-right"></i>
                                                    </a></li>
                                                <% } else { %>
                                                    <li class="disabled"><span><i class="ti-angle-right"></i></span>
                                                    </li>
                                                    <% } %>
                    </ul>
                </div>
                <% } %>

        </div>
    </div>
</div>
</div>

<style>
    hr {
        margin-bottom: 20px !important;
        color: grey;
        border: 0;
        height: 1px;
        background-color: grey;
        margin: 10px 0;
    }

    .fixed-div {
        position: fixed;
        bottom: 10px;
        right: 40px;
    }

    .sidebar-categories a.active {
        background-color: #007bff;
        /* Change to the background color you prefer */
        color: #fff;
        /* Change to the text color you prefer */
        font-weight: bold;
        /* You can modify other styles as needed */
    }

    .wishlist-checkbox input {
        display: none;
    }

    .wishlist-checkbox label {
        position: relative;
        cursor: pointer;
    }

    .wishlist-checkbox label i.pe-7s-like {
        font-size: 24px;
        position: absolute;
        top: 0;
        left: 0;
        color: black;
        /* Default color */
    }

    .wishlist-checkbox input:checked+label i.pe-7s-like {
        color: red;
        /* Color when checked */
    }
</style>

<script src="/assets/js/shop/shopping.js"></script>