<div class="breadcrumb-area" style="background-color: black; color: white;">
    <div class="container">
        <div class="breadcrumb-content text-center pt-1">
            <ul>
                <li>
                    <h3><a href="/">Home</a></h3>
                </li>
                <li>
                    <h3 style="color: white;">/</h3>
                </li>
                <li>
                    <h3 style="color: white;">Wishlist</h3>
                </li>
            </ul>
        </div>
    </div>
</div>
<!-- shopping-cart-area start -->
<div class="cart-main-area pt-95 pb-100 wishlist">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <h1 class="cart-heading">wishlist</h1>
                <form action="#">
                    <% if (wishlist.length> 0) { %>
                        <div class="table-content table-responsive">
                            <table>
                                <thead>
                                    <tr>
                                        <th>images</th>
                                        <th>Product</th>
                                        <th>Price</th>
                                        <th>remove</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% wishlist.forEach(item=> { %>
                                        <tr>
                                            <td class="product-thumbnail">
                                                <a href="/viewProduct/<%= item._id %>"><img
                                                        src="<%= item.images[0].thumbnailUrl %>" alt="Product image"
                                                        style="max-width: 100px;"></a>
                                            </td>
                                            <td class="product-name"><a href="/viewProduct/<%= item._id %>">
                                                    <%= item.title %>
                                                </a></td>
                                            <td class=" product-price-cart"><span class="amount">₹<%= item.salePrice %>
                                                </span>
                                            </td>
                                            <td class="product-remove">
                                                <% if (item.quantity> 0) { %>
                                                    <a href="/addtoCart/<%= item._id %>">
                                                        <i class="ti-shopping-cart"></i>
                                                    </a>
                                                    <% } %>
                                                        <a href="/removeWishlist/<%= item._id %>">
                                                            <i class="ti-close" style="font-size: 29px;"></i>
                                                        </a>
                                            </td>
                                        </tr>
                                        <% }); %>
                                            <% } else { %>
                                                <div class="d-flex justify-content-center align-items-center">
                                                    <img src="/assets/img/no-wish-list.png" alt="">
                                                </div>
                                                <% } %>

                                </tbody>
                            </table>
                        </div>
                </form>
            </div>
        </div>
    </div>
</div>