<div class="container ">
    <h2 mt-2>Edit Product</h2>
 <% include('../partials/flash.ejs') %>
    <form action="/admin/product/editProduct/<%= product._id %>" method="post" >
        <div class="card">
            <div class="card-body">
                <hr class="mb-4 mt-0">
                <div class="row">
                    <div class="col-md-3">
                        <h6>1. General info</h6>
                    </div>
                    <div class="col-md-9">
                        <div class="mb-4">
                            <label class="form-label">Product title</label>
                            <input type="text" placeholder="Type here" value="<%= product.title %>" name="title"
                                class="form-control">
                        </div>
                        <div class="mb-4">
                            <label class="form-label">Description</label>
                            <textarea placeholder="Type here" class="form-control" name="description"
                                rows="4"><%= product.description %></textarea>
                        </div>
                        <div class="mb-4">
                            <label class="form-label">Colors</label>
                            <input type="text" placeholder="Type here" name="color" value="<%= product.color %>"
                                class="form-control">
                        </div>
                        <div class="mb-4">
                            <label class="form-label">Brand name</label>
                            <input placeholder="Type here" class="form-control" value="<%= product.brand %>"
                                name="brand">
                        </div>
                    </div> <!-- col.// -->
                </div> <!-- row.// -->

                <hr class="mb-4 mt-0">
                <div class="row">
                    <div class="col-md-3">
                        <h6>2. Category</h6>
                    </div>
                    <div class="col-md-9">
                        <div class="mb-4">
                            <select class="form-select" name="categoryName" id="category" required>
                                <option value="<%= product.categoryName._id %>">
                                    <%= product.categoryName.categoryName %>
                                </option>
                                <% catList.forEach(category=> { %>
                                    <option value="<%= category?._id %>">
                                        <%= category.categoryName %>
                                    </option>
                                    <% }) %>
                            </select>
                        </div>
                    </div>
                </div>

                <hr class="mb-4 mt-0">
                <div class="row">
                    <div class="col-md-3">
                        <h6>3. Pricing</h6>
                    </div>
                    <div class="col-md-9">
                        <div class="mb-4">
                            <label for="Productprice">Product Price</label>
                            <input type="text" placeholder="₹" value="<%= product.productPrice %>" name="productPrice"
                                class="form-control">
                        </div>
                        <div class="mb-4">
                            <label for="salePrice">Sale Price</label>
                            <input type="text" placeholder="₹" value="<%= product.salePrice %>" name="salePrice"
                                class="form-control">
                        </div>
                    </div> <!-- col.// -->
                </div> <!-- row.// -->

                <hr class="mb-4 mt-0">

                <div class="row">
                    <div class="col-md-3">
                        <h6>4. Units</h6>
                    </div>
                    <div class="col-md-9">
                        <div class="mb-4">
                            <label for="Quantity">Quantity</label>
                            <input type="text" placeholder="No's" value="<%= product.quantity %>" name="quantity"
                                class="form-control">
                        </div>
                    </div> <!-- col.// -->
                </div> <!-- row.// -->


                <div class="row">
                    <div class="col-md-9">
                        <button type="submit" class="btn btn-primary mb-4 mt-2 float-right">Update Product</button>
                    </div>
                </div>
            </div>
        </div>
    </form>

    <div class="col-lg-12">
        <div class="col-md-3">
            <h6>5. Media</h6>
        </div>
        <div class="card">
            <div class="card-body p-4">
                <% product.images.forEach((element, index)=> { %>
                    <form action="/admin/product/edit-image/<%= product.images[index]._id %>/?_method=PUT" method="post"
                        enctype="multipart/form-data">

                        <div class="mb-3 d-flex align-items-center justify-content-between">
                            <img src="<%= product.images[index].thumbnailUrl %>" alt="Image"
                                id="previewImage<%= index %>" class="img-thumbnail mr-3" style="max-width: 150px" />
                            <div class="d-flex flex-column">
                                <input type="file" class="form-control" id="image<%= index %>" accept="image/*"
                                    style="display: none" name="image" />
                                <button type="button" class="btn btn-sm btn-primary mb-2 update-image-button"
                                    data-index="<%= index %>">
                                    <i class="fas fa-upload mb-1"></i> Select Image
                                </button>
                                <button type="submit" class="btn btn-sm btn-success" id="submitImage<%= index %>"
                                    disabled>
                                    <i class="fas fa-edit mb-1"></i> Update Image
                                </button>
                                <button type="button" onclick="removeImage(`<%= product.images[index]._id %>`)"
                                    class="btn btn-sm btn-danger mt-2">
                                    <i class="fas fa-trash mb-1"></i> Remove Image
                                </button>
                            </div>
                        </div>

                    </form>
                    <% }) %>

                        <!-- <form action="/admin/product/edit-product/images/upload/new/< product._id %>" method="post"
                            enctype="multipart/form-data">
                            <div class="mb-3 d-flex align-items-center justify-content-between">
                                <div id="previewNewImages"></div>
                                <div>
                                    <input type="file" class="form-control" id="newImages" accept="image/*" name="files"
                                        multiple style="display: none" />
                                    <div class="d-flex flex-column gap-2">
                                        <button type="button" class="btn btn-sm btn-primary update-image-button"
                                            onclick="document.getElementById('newImages').click()">
                                            <i class="fas fa-upload"></i> Select Images
                                        </button>
                                        <button type="submit" class="btn btn-sm btn-success" id="submitNewImages"
                                            disabled>
                                            <i class="fas fa-edit"></i> Upload Images
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </form> -->


            </div>

            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>

            <script>
                // Function to handle file input change and update preview
                const updateImageButtons = document.querySelectorAll(".update-image-button");

                function handleFileInputChange(index) {
                    const fileInput = document.getElementById("image" + index);
                    const previewImage = document.getElementById("previewImage" + index);
                    const submitButton = document.getElementById("submitImage" + index);

                    fileInput.addEventListener("change", (event) => {
                        if (fileInput.files && fileInput.files[0]) {
                            const reader = new FileReader();
                            reader.onload = function (e) {
                                previewImage.src = e.target.result;
                            };
                            reader.readAsDataURL(fileInput.files[0]);
                            // Enable the "Update Image" button when a file is selected
                            submitButton.removeAttribute("disabled");
                        } else {
                            // Disable the "Update Image" button if no file is selected
                            submitButton.setAttribute("disabled", "disabled");
                        }
                    });

                    // Trigger the hidden file input
                    fileInput.click();
                }

                // Add event listeners to all update image buttons
                updateImageButtons.forEach((button, index) => {
                    button.addEventListener("click", (event) => {
                        handleFileInputChange(index);
                    });
                });
            </script>

            <script>
                function removeImage(id) {
                    const imageId = id;
                    const url = `/admin/product/delete-image/${imageId}`;
                    const imageElement = document.getElementById(`previewImage${imageId}`);

                    fetch(url, {
                        method: "DELETE",
                    })
                        .then((response) => {
                            if (response.ok) {
                                console.log("Image removed successfully");
                                location.reload();
                                return response.json();
                            } else {
                                console.error("Failed to remove image");
                            }
                        })
                        .catch((error) => {
                            console.error("An error occurred:", error);
                        });
                }
            </script>

            <script>
                // JavaScript to handle image preview
                document.getElementById("newImages").addEventListener("change", function () {
                    const previewContainer = document.getElementById("previewNewImages");
                    previewContainer.innerHTML = ""; // Clear previous previews

                    const files = this.files;
                    for (let i = 0; i < files.length; i++) {
                        const file = files[i];
                        const reader = new FileReader();

                        reader.onload = function (e) {
                            const img = document.createElement("img");
                            img.src = e.target.result;
                            img.classList.add("img-thumbnail");
                            img.style.maxWidth = "150px";

                            const previewDiv = document.createElement("div");
                            previewDiv.style.position = "relative"; // Make the container relative for absolute positioning

                            // Create a remove button (X) for each image
                            const removeButton = document.createElement("button");
                            removeButton.innerText = "X";
                            removeButton.classList.add(
                                "btn",
                                "btn-sm",
                                "btn-danger",
                                "remove-button"
                            );
                            removeButton.style.position = "absolute";
                            removeButton.style.top = "0";
                            removeButton.style.left = "0";
                            removeButton.addEventListener("click", function () {
                                previewDiv.remove(); // Remove the preview when the button is clicked
                            });

                            previewDiv.appendChild(img);
                            previewDiv.appendChild(removeButton);

                            previewContainer.appendChild(previewDiv);
                        };

                        reader.readAsDataURL(file);
                    }

                    // Enable the "Upload Images" button
                    document.getElementById("submitNewImages").removeAttribute("disabled");
                });
            </script>