<% if (viewOrder) { %>
    <% viewOrder.items.forEach(item=> { %>

        <div class="row justify-content-center mt-3">
            <div class="col-lg-8">
                <form action="/admin/orders/editOrder/<%= viewOrder._id %>" method="post">
                    <div class="card">
                        <div class="card-header bg-primary text-white">
                            <h4 class="mb-0"></h4>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-8">
                                    <h5 class="mb-3">Order ID:

                                    </h5>
                                    <p class="font-weight-bold">
                                        <%= viewOrder.orderId %>
                                    </p>
                                    <h5 class="mb-2">Customer Email:</h5>
                                    <p>
                                        <%=viewOrder.user.email %>
                                    </p>
                                    <h5 class="mb-2">Customer Address:</h5>
                                    <p>
                                        <%= viewOrder.billingAddress.name %>,
                                            <%= viewOrder.billingAddress.address %>,
                                                <%= viewOrder.billingAddress.town %>,
                                                    <%= viewOrder.billingAddress.state %>,
                                                        <%= viewOrder.billingAddress.postCode %>,
                                                            <%= viewOrder.billingAddress.phone %>

                                    </p>

                                    <h5 class="mb-1">Order Status:</h5>
                                    <% if (item.status=='Return requested' || item.status=='Refunded' ) { %>
                                        <p class="font-weight-bold my-0">
                                            <%= item.status %>
                                        </p>
                                        <% } else { %>
                                            <select name="status" class="form-control mb-3">
                                                <% if (item.status !=='Refunded' ) { %>
                                                    <option value="<%= item.status %>">
                                                        <%= item.status %>
                                                    </option>

                                                    <% } %>
                                                        <% if (item.status!=='Cancelled' && item.status!=='Delivered' )
                                                            { %>

                                                            <option value="Pending">Pending</option>
                                                            <option value="Shipped">Shipped</option>
                                                            <option value="Delivered">Delivered</option>
                                                            <option value="Cancelled">Cancelled</option>
                                                            <% } %>
                                            </select>
                                            <% } %>

                                                <% if(item.status=='Return requested' ){ %>
                                                    <input type="hidden" name="productId"
                                                        value="<%= item.product._id  %>">
                                                    <input type="hidden" name="status" value="Refunded">
                                                    <button type="submit" class="btn btn-danger h-auto my-3">
                                                        Confirm Return
                                                    </button>
                                                    <% }%>

                                                        <h5 class="my-2">Product Details:</h5>
                                                        <p>
                                                            <%= item.product.title %>
                                                        </p>
                                                        <div class="row d-flex justify-content-between">
                                                            <div class="col-md-6 ">
                                                                <div
                                                                    class="mb-2 d-flex flex-column justify-content-between align-middle">
                                                                    <h6>Quantity:</h6>
                                                                    <p>
                                                                        <%= item.quantity %>
                                                                    </p>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-6 ">
                                                                <div
                                                                    class="mb-2 d-flex flex-column justify-content-between align-middle">
                                                                    <h6>Price:</h6>
                                                                    <p>
                                                                        ₹<%= (item.price).toLocaleString()%>
                                                                    </p>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-6 ">
                                                                <div
                                                                    class="mb-2 d-flex flex-column justify-content-between align-middle">
                                                                    <h6>Processing Fee:</h6>
                                                                    <p>
                                                                        ₹<%= viewOrder.processingFee%>
                                                                    </p>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-6 mb-2">
                                                                <div
                                                                    class="d-flex flex-column justify-content-between align-middle mb-2">
                                                                    <h6>Total Amount:</h6>
                                                                    <p class="font-weight-bold">₹<%=
                                                                            (viewOrder.total).toLocaleString() %>
                                                                    </p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="row d-flex justify-content-between">
                                                            <div class="col-md-6">
                                                                <div
                                                                    class="d-flex flex-column justify-content-around mb-3">
                                                                    <h6>Payment Method:</h6>
                                                                    <p>
                                                                        <%= viewOrder.paymentMethod %>
                                                                    </p>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-6">
                                                                <div
                                                                    class="d-flex flex-column justify-content-between mb-3">
                                                                    <h6>Ordered Date:</h6>
                                                                    <p>
                                                                        <%= viewOrder.orderDate.toLocaleDateString('en-IN',
                                                                            { year: 'numeric' , month: 'numeric' ,
                                                                            day: 'numeric' }) %>
                                                                    </p>
                                                                </div>
                                                            </div>
                                                        </div>
                                </div>
                                <div class="col-md-4">
                                    <img src="<%= item.product.images[0].imageUrl %>" alt="Product Image"
                                        class="img-fluid rounded" />
                                </div>
                            </div>
                            <% if(item.status=='Return requested' || item.status=='Refunded' ) { %>
                                <% } else { %>
                                    <div class="col">
                                        <input type="hidden" name="productId" value="<%= item.product._id %>">
                                        <button type="submit" class="btn btn-primary">Update Status</button>
                                    </div>
                                    <% } %>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <% }) %>
            <% } else { %>
                <h2 class="col-md-6">No Order found</h2>
                <% } %>