<style>
    .custom-icon {
        font-size: 24px;
    }
</style>
<title>Index</title>
<section class="content-main">
    <div class="content-header">
        <div>
            <h2 class="content-title card-title">Dashboard </h2>
            <p>Whole data about your business here</p>
        </div>
        <div>
            <a href="/admin/dashboard/sales-report" class="btn btn-primary"><i class="text-muted material-icons md-post_add"></i>Create report</a>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-3">
            <div class="card card-body mb-4">
                <article class="icontext">
                    <span class="icon icon-sm rounded-circle bg-primary-light">
                        <i class="text-primary material-icons custom-icon mb-3">₹</i>
                    </span>
                    <div class="text">
                        <h6 class="mb-1 card-title">Revenue</h6>
                        <span>₹<%= (totalRevenue).toLocaleString() %></span>
                        <span class="text-sm">
                            Processing fees are not included.
                        </span>
                    </div>
                </article>
            </div>
        </div> 
        <div class="col-lg-3">
            <div class="card card-body mb-4">
                <article class="icontext">
                    <span class="icon icon-sm rounded-circle bg-success-light"><i
                            class="text-success material-icons md-local_shipping mb-2"></i></span>
                    <div class="text">
                        <h6 class="mb-1 card-title">Orders</h6> <span>
                            <%= orders %>
                        </span>
                        <span class="text-sm">
                            Excluding orders in transit
                        </span>
                    </div>
                </article>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="card card-body mb-4">
                <article class="icontext">
                    <span class="icon icon-sm rounded-circle bg-warning-light"><i
                            class="text-warning material-icons md-qr_code mb-2"></i></span>
                    <div class="text">
                        <h6 class="mb-1 card-title">Products</h6> <span>
                            <%= products %>
                        </span>
                        <span class="text-sm">
                            In <%= category %> Categories
                        </span>
                    </div>
                </article>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="card card-body mb-4">
                <article class="icontext">
                    <span class="icon icon-sm rounded-circle bg-info-light"><i
                            class="text-info material-icons md-shopping_basket mb-2"></i></span>
                    <div class="text">
                        <h6 class="mb-1 card-title">Monthly Revenue</h6> <span>₹ <%=
                                (monthlyRevenue).toLocaleString() %></span>
                    </div>
                </article>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xl-8 col-lg-12">
            <div class="card mb-4">
                <article class="card-body">
                    <h5 class="card-title">Sale statistics</h5>
                    <canvas id="myChart" height="120px"></canvas>
                </article>
            </div>
        </div>
        <div class="col-lg-4"> <!-- Adjust the size according to your needs -->
            <div class="card mb-4">
                <article class="card-body">
                    <h5 class="card-title">New Members</h5>
                    <hr>
                    <div class="new-member-list">
                        <% if (newUsers.length> 0) { %>
                            <% newUsers.forEach(user=> { %>
                                <div class="d-flex align-items-center justify-content-between mb-4">
                                    <div class="d-flex align-items-center">
                                        <div>
                                            <h6>
                                                <%= user.userName %>
                                            </h6>
                                            <p class="text-muted font-xs my-0">
                                                <%= user.email %>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <% }) %>
                                    <% } %>
                    </div>
                </article>
            </div>
        </div>
    </div>

    <div class="card mb-4">
        <header class="card-header">
            <h4 class="card-title">Latest orders</h4>
        </header>
        <div class="card-body">
            <div class="table-responsive">
                <div class="table-responsive">
                    <table class="table align-middle table-nowrap mb-0">
                        <thead class="table-light">
                            <tr>
                                <th class="align-middle" scope="col">Order ID</th>
                                <th class="align-middle" scope="col">Billing Name</th>
                                <th class="align-middle" scope="col">Date</th>
                                <th class="align-middle" scope="col">Total</th>
                                <th class="align-middle" scope="col">Payment Status</th>
                                <th class="align-middle" scope="col">Payment Method</th>
                                <th class="align-middle" scope="col">View Details</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% if (latestOrders.length> 0) { %>
                                <% latestOrders.forEach(element=> { %>
                                    <tr>
                                        <td><a href="#" class="fw-bold">
                                                <%= element.orderId %>
                                            </a> </td>
                                        <td>
                                            <%= element.billingAddress.name %>
                                        </td>
                                        <td>
                                            <%= (element.orderDate).toLocaleDateString('en-IN', { year: 'numeric' ,
                                                month: 'long' , day: 'numeric' ,hour:'numeric',minute:'numeric' }) %>
                                        </td>
                                        <td>
                                            <%= element.total %>
                                        </td>
                                        <td>
                                            <span class="badge badge-pill badge-soft-<%= element.paymentStatus === 'Paid'?'success':
                                            (element.paymentStatus === 'Pending' ? 'warning' : '') %>">
                                                <%= element.paymentStatus %>
                                            </span>
                                        </td>
                                        <td>
                                            <%= element.paymentMethod %>
                                        </td>
                                        <td>
                                            <a href="/admin/orders/editOrder/<%= element._id %>" class="btn btn-xs">
                                                View details</a>
                                        </td>
                                    </tr>
                                    <% }) %>
                                        <% } else { %>
                                            <h4>No Orderse Yet</h4>
                                            <% } %>
                        </tbody>
                    </table>
                    <input type="hidden" id="salesData" value="<%= JSON.stringify(salesData) %>">
                    <input type="hidden" id="usersData" value="<%= JSON.stringify(usersData) %>">
                    <input type="hidden" id="productSold" value="<%= JSON.stringify(productSold) %>">
                </div>
            </div> <!-- table-responsive end// -->
        </div>
    </div>
</section> <!-- content-main end// -->