<section class="content-main">
    <div class="content-header">
        <div>
            <h2 class="content-title card-title">Order List </h2>
        </div>
    </div>
    <div class="card mb-4">
        <div class="card-body">
            <div class="table-responsive">


                <table style="width: 100%;" id="example" class="table table-striped table-bordered table-sm"
                    cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            <th>OrderID</th>
                            <th scope="col">Products</th>
                            <th scope="col">CutomerName</th>
                            <th scope="col">Price</th>
                            <th scope="col">Date</th>
                            <th scope="col"> Action </th>
                        </tr>
                    </thead>
                    <tbody>
                        <% if (orders.length> 0) { %>
                            <% orders.forEach(orders=> { %>



                                <tr>
                                    <td>
                                        <%= orders.orderId %>
                                    </td>
                                    <td>
                                        <%= orders.items.length %>
                                    </td>
                                    <td><template class="__cf_email__"
                                            data-cfemail="aec3cfdcd8c7c0eecbd6cfc3dec2cb80cdc1c3">[email&#160;protected]</template>
                                        <%= orders.billingAddress.name %>
                                    </td>
                                    <td>
                                        <%= (orders.total).toLocaleString() %>
                                    </td>
                                    <td>
                                        <%= orders.orderDate.toLocaleDateString('en-IN', { year: 'numeric' ,
                                            month: 'numeric' , day: 'numeric' }) + ' ' +
                                            orders.orderDate.toLocaleTimeString('en-IN', { hour: 'numeric' ,
                                            minute: 'numeric' }) %>
                                    </td>
                                    <td>
                                        <a href="/admin/orders/editOrder/<%= orders._id %>"
                                            class="btn btn-md rounded font-sm" style="padding: 5px 10px;
                                            font-size: 12px;">Detail</a>
                                    </td>
                                </tr>

                                <% }) %>
                                    <% } else { %>
                                        <h2>NO Orders yet</h2>
                                        <% } %>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>


<script>
    $(document).ready(function () {
        new DataTable('#example',{
            order: [[4, 'desc']]
        });

    })
</script>